template(name="forge")
	.title 
		h1 Roletar Adds
	.window
		.forge
			.forge-window
				.forge-window__tabs
					.forge-window__tabs__first(value="0").tab Nirv. I
					.forge-window__tabs__second(value="1").tab Nirv. II
					.forge-window__tabs__third(value="2").tab R8 I
					.forge-window__tabs__fourth(value="3").tab R8 II
					.forge-window__tabs__fifth(value="4").tab R8 III
				form#roulette
					input(type="submit" value="Iniciar").forge-window__start
				.forge-window__items
					each items
						.forge-window__items__item#item(style="background-image: url('/icons/#{id}.png');").floating #{id}
							.floating__text #{name}
							span #{count}
				.forge-window__require
					each selected.require
						.forge-window__require__item
							.forge-window__require__item__icon.floating
								img(src="/icons/items/#{id}.png")
								.floating__text #{name} (#{amount})
							.forge-window__require__item__amount #{amount}
				.forge-window__selected(style="background-image: url('/icons/#{selected.id}.png');")
		
		.info
			+itemCost selected
			+mainItem

template(name="mainItem")
	if desc
		.item
			.item__desc
				h3.item__desc__name #{desc.name}
				//- p.item__desc__bound Adere a alma.
				p.item__desc__type #{desc.type}
				p.item__desc__grade Nv. #{desc.grade}
				p.item__desc__rate Frequência de ataque (vezes/s) #{desc.freq}
				p.item__desc__range Alcance #{desc.alcan}
				p.item__desc__atq Ataque físico #{desc.pAtq}
				if desc.mAtq
					p.item__desc__atq AtqM #{desc.mAtq}
				p.item__desc__dur Durabilidade #{desc.dur}
				p.item__desc__req Restrição de classe #{desc.rest}
				each desc.req
					p.item__desc__req #{this}
				each getAttrs
					p.item__desc__attr {{{this}}}
				else
					p.item__desc__adic Atributo adicional.					
				p.item__desc__byme Feito por >Magaiver

template(name="itemCost")
	.itemCost
		.itemCost__items
			each require
				.itemCost__items__item
					.itemCost__items__item__icon.floating
								img(src="/icons/items/#{id}.png")
								.floating__text #{name}
							.itemCost__items__item__amount #{total}
		.itemCost__total
			span 2 dilmas e meia
