template(name="forge")
	.title 
		h1 {{_ "reroll"}}
	.window
		.forge(class='{{centered}}')
			.forge-window
				.forge-window__tabs
					.forge-window__tabs__first(value="0" class="{{curTab 0}}").tab Nirv. I
					.forge-window__tabs__second(value="1" class="{{curTab 1}}").tab Nirv. II
					.forge-window__tabs__third(value="2" class="{{curTab 2}}").tab R8 I
					.forge-window__tabs__fourth(value="3" class="{{curTab 3}}").tab R8 II
					.forge-window__tabs__fifth(value="4" class="{{curTab 4}}").tab R8 III
				form#roulette
					button(type="submit").forge-window__start {{_ "start"}}
				.forge-window__items
					each items
						.forge-window__items__item#item(style="background-image: url('/icons/#{id}.png');").floating #{id}
							.floating__text #{name}
							span #{count}
				.forge-window__require
					each selected.require
						.forge-window__require__item
							.forge-window__require__item__icon.floating
								img(src="/icons/items/#{id}.png")
								.floating__text #{name} (#{amount})
							.forge-window__require__item__amount #{amount}
				.forge-window__selected(style="background-image: url('/icons/#{selected.id}.png');")
		
		if selected
			.info
				if isDesk
					+itemCost selected
					+mainItem
				else
					+mainItem
					+itemCost selected


template(name="mainItem")
	if desc
		.item
			.item__desc
				h3.item__desc__name #{desc.name}
				//- p.item__desc__bound Adere a alma.
				p.item__desc__type #{desc.type}
				p.item__desc__grade Nv. #{desc.grade}
				if isWeapon desc.itemType
					p.item__desc__rate Frequência de ataque (vezes/s) #{desc.freq}
					p.item__desc__range Alcance #{desc.alcan}
					p.item__desc__atq Ataque físico #{desc.pAtq}
					if desc.mAtq
						p.item__desc__atq AtqM #{desc.mAtq}
				else
					p.item__desc__def Def #{desc.pAtq}
					p.item__desc__mdef Def Metal #{desc.mAtq}
					p.item__desc__mdef Def Madeira #{desc.mAtq}
					p.item__desc__mdef Def Água #{desc.mAtq}
					p.item__desc__mdef Def Fogo #{desc.mAtq}
					p.item__desc__mdef Def Terra #{desc.mAtq}
				p.item__desc__dur Durabilidade #{desc.dur}
				p.item__desc__req Restrição de classe #{desc.rest}
				each desc.req
					p.item__desc__req #{this}
				each getAttrs
					p.item__desc__attr {{{this}}}
				else
					p.item__desc__adic Atributo adicional.					
				p.item__desc__byme Feito por >Magaiver

template(name="itemCost")
	.itemCost
		.itemCost__items
			each require
				.itemCost__items__item
					.itemCost__items__item__icon.floating
								img(src="/icons/items/#{id}.png")
								.floating__text #{name}
							.itemCost__items__item__amount #{total}
		form#roulette
			input(type="submit" value="Roletar").itemCost__roulette
		.itemCost__total
			span #{cost}
