template(name="chest")
	.bagArea
		.bagArea__chest
			form#chest
				#chest__container
					#chest__container__icon
						img(src="/icons/chest01.png")
					#chest__container__name Baú Lendario (#{opened} abertos)
					input(name="openChest" value="Abrir" type="submit")#chest__container__submit
				#chest__result
					each getResult
						if notNull
							#chest__result__item.floating
								img(src="/icons/chest01/#{id}.png")
								span #{amount}
								.floating__text #{name} (#{amount})
		.bagArea__chat
			.chat#chat
				each chatMsg
					.chat__msg #{this}
