template(name="chest")
	.title 
		h1 {{_ "open_chest"}}
	.bagArea
		.bagArea__chest
			form#bag
				#bag__container
					#bag__container__chests
						each getChests
							#bag__container__chests__chest.chest.floating
								img(src="/icons/items/#{id}.png")
								#bag__container__chests__chest__name.floating__text #{name}
								span #{opened}
					if selected
						button(name="openChest" type="submit")#bag__container__submit.button {{_ "open"}}
					#bag__container__result
						each getResult
							#bag__container__result__item.floating
								img(src="/icons/items/#{id}.png")
								span #{amount}
								.floating__text #{name} (#{amount})
		.bagArea__chat
			.chat#chat
				each chatMsg
					.chat__msg #{this}
