template(name="chest")
	.title 
		h1 {{_ "open_chest"}}
	.chests
		form.chests__bag#bag
			.chests__bag__top
			.chests__bag__container
				.chests__bag__container__header
					if selected
						.chests__bag__container__header__icon
							img(src="{{currURL}}/#{selected.id}.png")
						.chests__bag__container__header__name
							h3 #{selected.name}
						span.chests__bag__container__header__amount (#{opened})
				.chests__bag__container__inner
					each getResult
						.chests__bag__container__inner__item.floating
							img(src="{{currURL}}/#{id}.png")
							span #{amount}
							.floating__text
								span #{name} (#{amount})
								if info
									p 
										each info.infos
											span(style="color: {{color}};") {{{text}}}
									if image
										img(src="{{itemImage}}")
				.chests__bag__container__form
					button(type="button").chests__bag__container__form__reset.button#reset Resetar
					button(type="button").chests__bag__container__form__macro.button#macro Macro
					button(name="openChest" type="submit").chests__bag__container__form__open.button {{_ "open"}}
			.chests__bag__bottom
		.chat#chat
			each chatMsg
				.chat__msg #{this}

	.chests
		form.chests__list#chests
			.chests__list__top
			.chests__list__container
				.chests__list__container__header
					.chests__list__container__header__name
						h3 Báus ativos no jogo
				.chests__list__container__inner
					each getChests
						.chests__bag__container__inner__item.floating.chest
							img(src="{{currURL}}/#{id}.png")
							span #{amount}
							.floating__text #{name}
				.chests__list__container__header
					.chests__list__container__header__name
						h3 Avatar
				.chests__list__container__inner
					each getAvatarChests
						.chests__bag__container__inner__item.floating.chest.avatar
							img(src="{{currURL}}/#{id}.png")
							span #{amount}
							.floating__text #{name}
				.chests__list__container__header
					.chests__list__container__header__name
						h3 Outros Baús
					button(type="button").chests__list__container__header__add.button#add_chest Adicionar
				.chests__list__container__inner
					each getOtherChests
						.chests__bag__container__inner__item.floating.chest
							img(src="{{currURL}}/#{id}.png")
							span #{amount}
							.floating__text #{name}
			.chests__list__bottom

	+macro

	+addChest

template(name="macro")
	.modal-mask.macro
	form.modal-window.macro
		.modal-window__top
		.modal-window__container
			.modal-window__container__header
				h3 Auto abrir
			.modal-window__container__content
				.modal-window__container__content__amount
					label Abrir
					input(type="number" name="amount" value="1").amount
					label Baús
				.modal-window__container__content__until
					span Ou até vir:
					if untl
						span.selected-item #{untl.name} (#{untl.weight}%)
				.modal-window__container__content__inner
					each chestItems
						.modal-window__container__content__inner__item.floating.macro__item
							img(src="{{currURL}}/#{id}.png")
							span #{amount}
							.floating__text #{name} (#{weight}%)
			.modal-window__container__footer
				button(type="submit").modal-window__container__footer__submit#macro_submit.button Ok
		.modal-window__bottom

template(name="addChest")
	.modal-mask.addChest
	form.modal-window.addChest
		.modal-window__top
		.modal-window__container
			.modal-window__container__header
				h3 Adicionar Baú
			.modal-window__container__content
				.modal-window__container__content__url
					label Url do pwdatabase
					input(type="text" name="url")
					p Enviar url da página de drops do báu.
					p Ex: http://www.pwdatabase.com/br/quest/27109
			.modal-window__container__footer
				button(type="submit").modal-window__container__footer__submit#addChest_submit.button Add
				button(type="submit").modal-window__container__footer__cancel.cancel.button Cancelar
		.modal-window__bottom